<%- include('partials/headerLoggedIn') -%>

  <div class="min-h-screen bg-base-200 flex flex-col">
    <div class="flex flex-col space-y-8 items-center justify-center py-8">
      <h2 class="text-3xl"><%= user.userName %>'s Profile</h2>
      <span class="text-xl"> Posts: <%= posts.length %></span>
    </div>
    <div class="h-1/2 w-2/3 mx-auto md:w-1/2 ">
      <div tabindex="0" class="collapse border border-base-300 bg-base-100 rounded-box">
        <input type="checkbox" />
        <div class="collapse-title pr-0 flex justify-center space-x-2 text-2xl font-medium">
          <span>Create a post</span>
          <span class="material-symbols-outlined text-4xl">
            add_circle
            </span>
        </div>
        <div class="collapse-content"> 
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="card-body">
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Title</span>
                </label>
                <input
                  type="text"
                  class="input input-bordered"
                  name="title"
                  id="title"
                  placeholder="Title"
                />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Caption</span>
                </label>
                <input
                  type="text"
                  class="input input-bordered"
                  name="caption"
                  id="caption"
                  placeholder="Caption"
                />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Image</span>
                </label>
                <input
                  type="file"
                  class="input  p-2 "
                  name="file"
                  id="imageUpload"
                  placeholder="Caption"
                />
              </div>
              <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="w-full flex flex-wrap justify-center items-baseline space-y-4 py-4 bg-base-200 md:space-x-6">
      <% for(var i=0; i<posts.length; i++) {%>
        <a href="/post/<%= posts[i]._id%>">
          <div class="btn-ghost w-96 p-4 bg-base-100 rounded-3xl flex flex-col border border-primary shadow-sm shadow-secondary hover:shadow-none">
            <div class="w-full h-64 mt-2 rounded-md ">
                <img class="w-full max-h-full rounded-md" src="<%= posts[i].image%>"  />
            </div>
            <div class="card-body bg-base-200 rounded-lg flex-row justify-between">
              <h2 class="card-title"><%= posts[i].title%></h2>
              <div class="flex justify-center space-x-2">
                <span class="text-md"><i class="fa-regular fa-heart fa-sm"></i> <%= posts[i].likes%></span>
                <span class="text-md"><i class="fa-regular fa-comment fa-sm"></i> <%= posts[i].comments%></span>
              </div>
            </div>
          </div>
        </a>  
      <% } %>
    </div>
  </div>    

<%- include('partials/footer') -%>